
body.main-page-body {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #2c2c2c;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.main-page-header {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.input-field {
  width: 100%;
  padding: 12px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:focus {
  outline: none;
}

.register-button {
  background-color: black;
  margin-top: 20px;
}

.select-field {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.select-field:focus {
  outline: none;
  border-color: #007bff;
}
